<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <ul class="media-list">

        <%
        for(let i=0;i<results.length;i++){
        %>
            <li class="media">
                <a class="pull-left" href="#">
                    <img width="200" height="120" class="media-object" src="<%= results[i].imgUrl %>" alt="媒体对象">
                </a>
                <div class="media-body">
                    <h4 class="media-heading"><a href="<%= results[i].titleUrl%>"><%= results[i].title %></a></h4>
                    <%= results[i].content %>
                </div>
            </li>
        <%
        }
        %>

    </ul>
</div>
</body>
</html>